@using TravelProject.Models.Siniflar
@model List<Iletisim>
@{
    ViewBag.Title = "MesajListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>MesajListele</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Mesaj</th>
       

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.AdSoyad</td>
            <td>@item.Email</td>
            <td>@item.Konu</td>
            <td>@item.Mesaj</td>
           

        </tr>
    }


</table>
