@model TravelProject.Models.Siniflar.Restoran
@{
    ViewBag.Title = "RestoranEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RestoranEkle</h2>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Adi)
    @Html.TextBoxFor(x => x.Adi, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Adresi)
    @Html.TextBoxFor(x => x.Adresi, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.FotoUrl)
    @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.YemekCesidi)
    @Html.TextAreaFor(x => x.YemekCesidi, 10, 1, new { @class = "form-control" })

    <br />

    <button class=" btn btn-primary">Ekle</button>

</form>